
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header {
    background-image:linear-gradient(red, yellow, green);
    text-align: center;
    font-family: 'Comforter Brush', cursive;
    font-size: 500%;
    padding-top: 1%;
}