
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

header {
    background-image:linear-gradient(lightblue,rgb(168, 218, 168), white);
    text-align: center;
    font-family: 'Comforter Brush', cursive;
    font-size: 500%;
    padding-top: 1%;
}

footer {
    background-image:linear-gradient(white,rgb(168, 218, 168), lightblue);
    text-align: center;
    padding-bottom: 1%;
}

footer p {
    padding-top: 2.5%;
}